.movieList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0px;
}

.btn_more {
  display: block;
  background-color: #048275;
  margin: 25px auto;
  border-radius: 18px;
  color: white;
  font-size: 23px;
  padding: 9px 25px;
  border: none;
  cursor: pointer;
}

.btn_more:hover {
  background-color: #065951;
}